<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/admin.css">
</head>

<body>
   <body>
    <div class="signup-container">
      <form class="signup-form" action="/adminsub" method="post" >
        <h2>Sign Up</h2>
       
        <input type="text" placeholder="College id" name="username" required >
        <!-- <input type="email" placeholder="Email" required> -->
        <input type="text" placeholder="Password" name="password" required>
        <!-- <input type="text"> -->
        <!-- select cource -->
        <label for="course"> Select Course:</label>
        <select name="course" id="" >
            <option value="B.C.A">B.C.A</option>
            <option value="Bsc IT">Bsc IT</option>
            <option value="Bsc Food science">Bsc Food science</option>
            <option value="D-pharma">D-pharma</option>
          </select>
          <!-- <button>submit</button> -->
        <button type="submit">log in</button> 
      </form>
    </div>

</body>
</html>

  