<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBAU</title>
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>
<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="/images/add/bbau.png" height="60px" width="10px"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <!-- <li><a href="/resultlogin">HOME</a></li> -->
                    <li><a href="/resultlogin">Result</a></li>
                    <li><a href="/admin">admin login</a></li>
                   <li><a href="/signup">signup</a></li></button> 
                 <li><a href="/login">Login</a></li></button> 
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

        <div class="text-box">
            <h1>BBAU A CENTRAL UNIVERSITY</h1>
            <p>bbau satellite campus amethi <br/> A++ Graded by Nacc</p>
            <a href="/notice" class="hero-btn">Addmission</a>
        </div>
    </section>
<!---------Course---------->
    <section class="course">
        <h1>Courses We Offer</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit lore.</p>
        <div class="row">
            <div class="course-col">
                <h3>Diploma</h3>
                <p>
                    <ul>
                        <li>Diploma in Pharmacy</li>
                    </ul>
                </p>
            </div>
            <div class="course-col">
                <h3>Under graduation</h3>
                <p><ul>
                    <li>Bachelors in computer science</li>
                    <li>Bachelors in Information technology</li>
                    <li>Bachelors in food science & technology</li>
                    <li>Bachelors in Art</li>
                    <li>Bachelors in commerce</li>
                </ul></p>
            </div>
            <div class="course-col">
                <h3>Post Graduation</h3>
                <p><ul type="non">
                    <li>M.A in Arts</li>
                    <li>M.A in history</li>
                </ul></p>
            </div>
        </div>
    </section>

    <!-------Campus------->
    <section class="campus">
        <h1>Our  Campus</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

        <div class="row">
            <div class="campus-col">
                <img src="/images/add/london.png" alt="london">
                <div class="layer">
                    <h3>LUCKNOW</h3>
                </div>
            </div>

            <div class="campus-col">
                <img src="/images/add/newyork.png" alt="london">
                <div class="layer">
                    <h3>DELHI</h3>
                </div>
            </div>

            <div class="campus-col">
                <img src="/images/add/washington.png" alt="london">
                <div class="layer">
                    <h3>KANPUR</h3>
                </div>
            </div>
        </div>
    </section>

    <!--------------- Facilities ---------------->
    <section class="facilities">
        <h1>Our Facilities</h1>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit.</P>
        <div class="row">
            <div class="facilities-col">
                <img src="/images/add/library.png" alt="">
                <h3>World Class Library</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus nihil excepturi fugiat molestiae eaque dolorum laudantium.</p>
            </div>

            <div class="facilities-col">
                <img src="/images/add/basketball.png" alt="">
                <h3>Largest Play Ground</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus nihil excepturi fugiat molestiae eaque dolorum laudantium.</p>
            </div>

            <div class="facilities-col">
                <img src="/images/add/cafeteria.png" alt="">
                <h3>Tasty and Healthy Food</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus nihil excepturi fugiat molestiae eaque dolorum laudantium.</p>
            </div>
        </div>
    </section>

    <!--------- testimonials------------->
    <section class="testimonials">
        <h1>What Our Student Says</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>

        <div class="row">
            <div class="testimonial-col">
                <img src="/images/add/user1.jpg" alt="">
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam earum dicta a recusandae sapiente inventore molestiae rem in tempora placeat voluptas ducimus, dolore amet sit dolorum minus, laboriosam vel est!</p>
                    <h3>Christine Berkley</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
            </div>

            <div class="testimonial-col">
                <img src="/images/add/user2.jpg" alt="">
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam earum dicta a recusandae sapiente inventore molestiae rem in tempora placeat voluptas ducimus, dolore amet sit dolorum minus, laboriosam vel est!</p>
                    <h3>David Byer</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
            </div>
        </div>
    </section>


    <!-- -------Call To Action------- -->
    <section class="cta">
        <h1>Enroll For Our Various Online Courses <BR/>Anywhere From The World</h1>
        <a href="/cuetform" class="hero-btn">cuet</a>
    </section>

     <!-- -------Footer------- -->
     <section class="footer">
        <h4>About Us</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. minus praesentium animi <br/>minus praesentium animi autem.</p>
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
        <p>Made with <i class="fa fa-heart-o"></i> by Charles Egesionu</p>
     </section>


    <!-------------------------JavaScript for Toggle Menu-------------------------->
    <script>
        var navLinks = document.getElementById("navLinks");

        function showMenu(){
            navLinks.style.right = "0";
        }
        function hideMenu(){
            navLinks.style.right = "-200px";
        }
    </script>
</body>
</html>