<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/notice.css">
</head>
<body>
    <h1>Admission notice</h1>
   <table border="3" >
    <!-- <tr aria-colspan="3"> -->
        
    <tr><td colspan="3" align="center">Number  of seats</td></tr>
<tr> 
   <th>course</th>
   <th>Number  of seats</th>
   <th> Semester fees</th>
</tr>
<tr>
<td>Bachelor  of Computer Application</td>
<td>75</td>
<td>7400</td>
</tr>
<tr>
    <td>Bachelor Of Information technology</td>
    <td>75</td>
    <td>7400</td>
</tr>
<tr>
    <td>B.com</td>
    <td>70</td>
    <td>3000</td>
</tr>
<tr>
    <td>Bachelor  in  food  science</td>
    <td>45</td>
    <td>4500</td>
</tr>
<td>bachelor of arts</td>
<td>65</td>
<td>3400</td>
</tr>
 </table> 

<div class="note">
 <h2>Application Begin :10/04/24</h2>
 <h2>last date of  apply :20/05/24</h2>
 <h2>Application fees :1200</h2>
 <!-- <button <a href="./signup.ejs"Apply know></a></button> -->
  <button><a href="/signup">Apply know </button>
</div>
</body>
</html>