<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="content">
          <!--pinterest logo-->
          <img src="/images/add/bbau.png" alt="pin logo" class="img1" />
          <p class="header">Register your account</p>
  
          <form action="/signup" method="post">
            <input name="email" type="email" placeholder="Email" class="detail" value="email@example.com" hidden/><br />
          <input name="username" type="text" placeholder="Phone Number" class="detail" /><br />
          <input name="fullname" type="text" placeholder="Fullname" class="detail" /> <br>
          <input name="password" type="password" placeholder="Password" class="detail" />
          <input name="confirm" type="password" placeholder="Confirm Password" class="detail" />
          <input type="submit" class="btn int" value="Register Account">
          </form>
          <br>
          <footer>
            <p>
              By continuing, you agree to BBAU's
              <b>Terms of Service, Privacy policy.</b>
            </p>
            <hr />
          <a href="/login">Already on BBAU ? LogIn</a>
          </footer>
        </div>
      </div>
  
</body>
</html>